In [1]:
a=10

In [2]:
a

10

In [5]:
print(a)

10

In [6]:
print("the value of 'a' is {}".format(a))

the value of 'a' is 10

In [12]:
print("my name is prakash")

my name is prakash

In [13]:
print("my name is rizwan")

my name is rizwan

In [14]:
name=("prakash")

In [15]:
print(name)

prakash

In [16]:
print("my name is {}".format(name))

my name is prakash

In [17]:
name=("rizwan")

In [18]:
print("my name is {}".format(name))

my name is rizwan

In [27]:
print("my name is {name}.iam in {collage}".format(name="prakash",collage="pmist"))

my name is prakash.iam in pmist

In [28]:
print

In [30]:
print("my name is {name}.iam in {collage}".format(name="rizwan",collage="pmist"))

my name is rizwan.iam in pmist

In [31]:
print("my name is {}.iam in {}".format("prakash","pmist"))

my name is prakash.iam in pmist

In [6]:
print(f"my name is {'jr'}.i am {'gangaster'} group")

my name is jr.i am gangaster group

# task

# jayaprakash

# user input

In [7]:
input()

1985

'1985'

In [19]:
var1=int(input())

1985

In [20]:
type(var1)

int

In [14]:
var=input("enter the number")

enter the number564